# Object files
*.o

# Libraries
*.lib
*.a

# Save files
*.save

# Temporary Files
*~

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
VideoClient
VideoServer
CidDirectoryServer
ContentServer
